{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Password Reset
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="col-6">
            <h1>Forgot your password?</h1>
            <p>Please enter your email below, and we'll email instruction for setting a new one.</p>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button type="submit" class="btn btn-success">Send me instructions!!</button>
            </form>    
        </div>
    </div>
{% endblock content %}