{% extends '_base.html' %}

{% load static %}

{% load blog_filters %}

{% block title %}
Home 
{% endblock title %}

{% block content %}
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% if post_list %}
                            {% for post in post_list %}
                                <article class="blog_item">
                                    <div class="blog_item_img">
                                        {% if post.photo %}
                                            <img class="card-img rounded-0" src="{{ post.photo.url }}" alt="{{ post.title }}">
                                        {% else %}
                                            <img class="card-img rounded-0" src="{% static 'assets/img/blog/placeholder.jpg' %}" alt="No image">
                                        {% endif %}
                                    
                                        <a href="#" class="blog_item_date">
                                            <time datetime="2020-01-01">
                                                <h3>{{ post.date|date:"d" }}</h3>
                                                <p>{{ post.date|date:"M" }}</p>
                                            </time>
                                        </a>
                                    </div>
                                    <div class="blog_details">
                                        <a class="d-inline-block" href="{% url 'post_detail' post.pk %}">
                                            <h2>{{ post.title }}</h2>
                                        </a>
                                        <p>{{ post.excerpt }}</p>
                                        <ul class="blog-info-link">
                                            <li><a href="#"><i class="fa fa-clock"></i><time datetime="2020-01-01">{{ post.date }}</time></a></li>
                                            <li><a href="#"><i class="fa fa-user"></i> {{ post.author}}</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                                            <li><a href="#"><i class="fa fa-thumbs-up"></i> 4 Likes</a></li>
                                            <li><a href="#"><i class="fa fa-thumbs-down"></i> 4 Dislikes</a></li>
                                        </ul>
                                    </div>
                                </article>
                            {% endfor %}
                                <!--================ pagination =================-->
                                {% if post_list.has_other_pages %}
                                    <nav class="blog-pagination justify-content-center d-flex">
                                        <ul class="pagination">
                                            {% if post_list.has_previous %}
                                                <li class="page-item">
                                                    <a href="?page={{ post_list.previous_page_number }}" class="page-link" aria-label="Previous">
                                                        <i class="ti-angle-left"></i>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" aria-label="Previous"><i class="ti-angle-left"></i></a>
                                                </li>
                                            {% endif %}
                                            
                                            {% for i in post_list|pagination_range:2 %}
                                                {% if i == '...' %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link">...</a>
                                                    </li>
                                                {% else %}
                                                    {% if post_list.number == i %}
                                                        <li class="page-item active">
                                                            <a class="page-link">{{ i }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="page-item">
                                                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                                    
                                            {% if post_list.has_next %}
                                                <li class="page-item">
                                                    <a href="?page={{ post_list.next_page_number }}" class="page-link" aria-label="Next">
                                                        <i class="ti-angle-right"></i>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" aria-label="Next"><i class="ti-angle-right"></i></a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endif %}
                                <!--================ pagination =================-->
                        {% else %}
                            <h1>No post is aveilable! </h1>
                            <br>
                            <div class="d-flex gap-2">
                                <button type="submit" class="btn btn-success ml-3">
                                    <i class="bi bi-file-earmark-plus"></i>
                                    <a href="{% url 'post_new' %}">Add new post</a>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!--================ sidebar =================-->
                {% block sidebar %}
                    {% include "sidebar.html" %}
                {% endblock sidebar %}
            </div>
        </div>
    </section>
{% endblock content %}